 

body {
   color : Yellow;

  }
  p {
    color: #77bb99;
       font-family: verdana;
       font-size: 20px;
}

p {
  border: black 10px dotted;
  margin: 20px;
  padding: 20px;
  background-color: lightblue;
}